<form method="post" class="col-md-6 border">
    <div class="form-group">
        <label for="currentpass">Current Password</label>
        <input class="form-control" type="password" name="currentpass" id="currentpass" placeholder="Current Password">
    </div>
    <div class="form-group">
        <label for="newpass">New Password</label>
        <input class="form-control" type="password" name="newpass" id="newpass" placeholder="New Password">
    </div>
    <div class="form-group">
        <label for="confpass">Confirm Password</label>
        <input class="form-control" type="password" name="confpass" id="confpass" placeholder="Confirm Password">
    </div>
    <button type="submit" class="btn btn-primary my-2">Submit</button>
</form>