<% include partials/head %>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 my-5 card">
            <div class="card-body">
                <h3 class="card-title">404 <small class="text-muted">Page not found</small></h3>
                <a href="/" class="btn btn-success">Home</a>
                <a href="#!" onclick="window.history.back(); return false;" class="btn btn-primary">Back</a>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>